<h5>{{tituloCrear}}</h5>
<form #miFormulario="ngForm" (ngSubmit)="onSubmit()">
<p>
<label for="titulo">Titulo</label><span *ngIf="!titulo.valid">No valido</span>
<input id="titulo" type="text" #titulo="ngModel" name="titulo" [(ngModel)]="nuevaPelicula.titulo" value="{{TituloPelicula}}" required minlength="5" />
</p>
<p>
<label for="director">Director</label><span *ngIf="!director.valid">No valido, solo letras</span>
<input type="text" id="director" #director="ngModel" name="director" [(ngModel)]="nuevaPelicula.director" required pattern="[A-Za-z ]*" />
</p>
<p>
<label for="anio">Año</label><span *ngIf="!anio.valid">No valido</span>
<input type="text" id="anio" #anio="ngModel" name="anio" [(ngModel)]="nuevaPelicula.anio" required pattern="[0-9]{4}"/>
</p>
<input type="submit" value="Crear"/> 
</form>