<p>Película favorita</p>
<button (click)="onShowHide(true)" [class.hideData]="mostrarDatos===true">Mostrar datos</button>
<button (click)="onShowHide(false)" [class.hideData]="mostrarDatos===false">Ocultar datos</button>
<ul *ngIf="mostrarDatos===true">
	<li>Titulo:<strong>{{pelicula.titulo}}</strong></li>
	<li>Director:<strong>{{pelicula.director}}</strong></li>
	<li>Año:<strong>{{pelicula.anio}}</strong></li>
</ul>
<p>Cambiar Titulo: <input type="text" (keypress)="debug(true)" [(ngModel)]="pelicula.titulo" /></p>
<hr/>
<p>Listado de Películas</p>
<ul *ngFor="let pelicula of peliculas" style="margin-bottom: 20px">
	<li (click)="onCambiaPelicula(pelicula)" class="pelicula-title" [class.clicked]="peliculaElegida.titulo===pelicula.titulo">Titulo:<strong>{{pelicula.titulo}}</strong></li>
	<li>Director:<strong>{{pelicula.director}}</strong></li>
	<!-- isset para controlar si existe -->
	<li *ngIf="pelicula.anio">Año:<strong>{{pelicula.anio}}</strong></li>
	<li><a [routerLink]="['/crear-pelicula',pelicula.titulo, pelicula.director,pelicula.anio]">Crear basada en esta</a></li>
</ul>
