@import url('https://fonts.googleapis.com/css?family=Muli:300');
*{
	font-family: 'Muli', sans-serif;
}
h2{
	color:#ba68c8 ;
}
.hideData{
	display:none;
}
.pelicula-title{
	cursor:pointer;
}
.clicked{color:#e4ff00;font-size:22px;}
.listaPelis{min-height:210px!important;color:#fff}
